# Ignore node_modules in all subdirectories
node_modules/
node_modules

# Ignore environment variables in all subdirectories
.env
.env.*

# Ignore Mac specific files
.DS_Store

# Ignore logs
*.log
npm-debug.log*
